.heading{
    width: 100%;
    text-align: left;
}

.heading h2{
    display: inline;
}

.heading button{
    float: right;
    border: 1px solid black;
}

.big_image{
    width: 100%;
}

#start{
    font-size:large;
}

#status{
    font-size: large;
}

h4{
    background-color: rgb(215, 215, 213);
    margin: 0;
    line-height: 2;
}

.modal-dialog{
    width: 85%;

}

.abc{
  width: 45%;
  display: inline-block;  
}

video{
    background: url('game_console.png');
    background-size: cover;
    background-position: center;
    padding: 25px;
}